@media only screen and (min-width: 980px) and (max-width: 1190px) {
	.container,
	.vozx_container{
		width: 960px;
	}

	.sf-mega {
		width: 960px;
	}

	#ABdev_main_header.header_layout_centered nav > ul > li a {
		font-size: 11px;
	}

	.vozx_service_box_boxed_inside p{
		left: 0;
		width: auto;
	}

	.vozx_blockquote_wide{
		padding:20px 50px;
	}

	.vozx_blockquote_wide .quotation_mark{
		margin-bottom: 30px;
	}

	#footer_container{
		margin: 0 200px;
	}

	.vozx-callout_box_style_3{
		text-align: center;
		padding: 30px 50px;	
	}

	.vozx-callout_box_style_3 .vozx-callout_box_title{
		float: none;
	}

	.vozx-callout_box_style_3 .vozx-button1{
		float: none;
		display: inline-block;
		margin: 20px 0 13px;
	}

	.vozx-callout_box_style_5{
		margin: 50px 20px 50px;
		padding: 0;
	}

	.vozx-callout_box_style_5 .vozx-callout_box_title{
		margin-top: 0;
	}

	.vozx-callout_box_style_5 .vozx-icon-button{
		float: none;
		display: inline-block;
		margin: 6px 0 0 15px;
	}

	.portfolio_item_4_boxed{
		width: 23.4%;
	}

	.portfolio_item_3_boxed{
		width: 31.7%;
	}

	.portfolio_item_4_boxed .overlay_title,
	.portfolio_item_3_boxed .overlay_title,
	.portfolio_item_4 .overlay_title{
		font-size: 18px!important;
	}

	.portfolio_item_5 .overlay_title,
	.portfolio_item_5 .portfolio_item_tags,
	.portfolio_item_4 .overlay_title,
	.portfolio_item_4 .portfolio_item_tags,
	.portfolio_item_3 .overlay_title,
	.portfolio_item_3 .portfolio_item_tags{
		display: none;
	}

	.portfolio_item_3_fullwidth .overlay_title,
	.portfolio_item_3_fullwidth .portfolio_item_tags,
	.portfolio_item_4_fullwidth .overlay_title,
	.portfolio_item_4_fullwidth .portfolio_item_tags,
	.portfolio_item_5_fullwidth .overlay_title,
	.portfolio_item_5_fullwidth .portfolio_item_tags{
		display: block;
	}

	.portfolio_4column .overlay_title,
	.portfolio_4column .portfolio_item_tags,
	.portfolio_4columns_description .overlay_title,
	.portfolio_4columns_description .portfolio_item_tags{
		display: none;
	}

	.portfolio_3column .portfolio_item .overlayed .overlay .overlay_title, 
	.portfolio_3column_description .portfolio_item .overlayed .overlay .overlay_title{
		font-size: 18px;
	}

	.vozx_team_member .team_content{
		line-height: 18px;
	}

	.vozx_countdown.simple_style .simple.countdown{
		text-align: center;
		margin: 0;
	}

	.vozx_countdown.simple_style .vozx_countdown_inner span{
		margin: 0;
		text-align: center;
	}

	.vozx_countdown.flip_style .time{
		margin-bottom: 40px;
	}

	.vozx_stats_excerpt_2{
		padding: 20px;
	}

	#portfolio_list_fullwidth .portfolio_single_column_item .portfolio_item_meta{
		padding: 10px 30px 10px 67%;
	}

	#portfolio_list_fullwidth .portfolio_single_column_item:nth-child(2n) .portfolio_item_meta{
		padding: 10px 67% 10px 30px ;
	}

	#portfolio_list_fullwidth .portfolio_single_column_item .portfolio_thumb{
		margin-right: 30px;
	}

	#portfolio_list_fullwidth .portfolio_single_column_item:nth-child(2n) .portfolio_thumb{
		margin-left: 30px;
	}

	#portfolio_list_fullwidth h2.portfolio_title{
		line-height: 22px;
	}

	#portfolio_list_fullwidth .portfolio_item_meta_category{
		line-height: 22px;
	}

	.portfolio_single_column_gallery_style2 .row{
		margin-bottom: 6px;
	}

	.portfolio_single_column_gallery_style2 #blog_pagination{
		margin-top: 30px;
	}

	.portfolio_2column_gallery_style2 .span6{
		width: 49.19% !important;
	}

	.portfolio_3column_gallery_style2 .span4{
		width: 32.53% !important;
	}

	.portfolio_4column_gallery_style2 .span3{
		width: 24.19%!important;
	}

	.rpwe-block li{
		padding-top: 0;
	}

	.rpwe-thumb{
		margin-top: 0;
	}

	.span9_halved:nth-child(2).content_with_left_sidebar {
		margin-right: 2.564102564102564%;
	}

	.grid_post{
		width: 100%;
	}

	.grid_postmeta{
		padding: 15px 30px;
		display: inline-block;
	}

	.dual_sidebar.sidebar_right #text-8 .vozx_follow_us a:nth-child(n){
		margin-right: 14px;
	}

	.vozx_countdown{
		margin-bottom: 30px;
		text-align: center;
	}

	.vozx_countdown .countdown{
		margin: 0 auto 3px;
	}

	.vozx_countdown_inner:last-of-type > .countdown, .vozx_countdown_inner:last-of-type > span{
		margin: 0 auto 3px;
	}

	.vozx-tabs.vozx-tabs-horizontal.vozx-tabs-position-bottom.vozx-tabs-boxed .vozx-tabs-wrapper{
		display: inline-block;
		padding: 30px;
	}

	.vozx-tabs-position-bottom.vozx-tabs-fullwidthtabs .ui-tabs-nav{
		display: inline-block;
		bottom: -6px;
		width: 100%;
	}

	.vozx-tabs.vozx-tabs-unboxed.vozx-tabs-position-bottom .ui-tabs-nav li{
		border-right: 1px solid #eee;
	}

	.vozx-tabs.vozx-tabs-unboxed.vozx-tabs-position-top .ui-tabs-nav li{
		border-right: 1px solid #eee;
	}

	.ABt_testimonials_wrapper.picture_bottom .testimonial_small .source, 
	.ABt_testimonials_wrapper_static.picture_bottom .testimonial_small .source{
		left: 90px;
	}

	.timeline_post,
	.timeline_post_first{
		width: 430px;
	}

	#ABdev_sticky_header{
		height: 609px;
	}

	#ABdev_sticky_header_content{
		margin-top: 609px;
	}

	.flickr_stream img{
		width: 67px;
		height: 67px;
	}

	aside.sidebar .flickr_stream img{
		width: 65px;
		height: 65px;
	}

}



@media only screen and (min-width: 768px) and (max-width: 979px) {
	.container,
	.vozx_container{
		width: 90%;
	}

	.quick_contact_phone, .quick_contact_mail, .quick_contact_address{
		display: none;
	}

	.spacer_responsive_hide_tablet{
		display: none!important;
	}

	#ABdev_main_header.default,
	#ABdev_main_header.header_layout_1, 
	#ABdev_main_header.header_layout_2, 
	#ABdev_main_header.header_layout_3, 
	#ABdev_main_header.header_layout_4,
	#ABdev_main_header.transparent,
	#ABdev_main_header.header_layout_centered {
		position: static!important;
		height: auto;
		margin-top: 0 !important;
	}

	#ABdev_header_spacer{
		display: none;
	}

	#ABdev_menu_toggle{
		display: block;
		width: 50px;
		height: 50px;
		color: #e4664d;
		background: rgba(0,0,0,0.5);
		position: fixed;
		right: 25px;
		top: 52px;
		font-size: 34px;
		line-height: 54px;
		z-index: 9999999;
		text-align: center;
	}

	body.admin-bar #ABdev_menu_toggle{
		top: 83px;
	}

	#ABdev_menu_toggle i{
		margin-left: 5px;
	}

	.header_layout_1 #shop_links{
		margin: 10px 0;
	}

	.header_layout_1 #ABdev_menu_toggle{
		line-height: 50px;
	}

	.header_layout_1 #ABdev_menu_toggle i{
		position: absolute;
		margin-left: -14px;
		margin-top: 8px;
	}

	.header_layout_2 #login_button_area{
		display: none;
	}

	.header_layout_2 .search-toggle{
		display: none;
	}

	.header_layout_4 #shop_links{
		display: none;
	}

	.header_layout_4 .search-toggle{
		display: none;
	}

	.header_layout_4 #logo_container{
		border-bottom: 0;
	}

	body.admin-bar #ABdev_main_header.header_layout_4 #ABdev_menu_toggle{
		top: 79px;
	}

	#ABdev_main_header.header_layout_4 #ABdev_menu_toggle{
		top: 46px;
	}

	#ABdev_header_spacer, #ABdev_header_spacer_center{
		display: none;
	}

	body.admin-bar #ABdev_main_header.header_layout_centered.fixed{
		margin-top: 0 !important;
		max-height: none;
		overflow-x: none;
	}

	#ABdev_main_header.header_layout_centered.fixed{
		padding: 0;
	}

	#ABdev_main_header.header_layout_centered .main_menu_item_logo{
		display: none;
	}

	#ABdev_main_header.header_layout_centered{
		padding: 0;
	}

	nav{
		position: fixed;
		float: none !important;
		top: 0;
		left: 0;
		height: 100%;
		z-index: 100000;
		background: #fff;
		overflow-x: hidden;
		width: 40%;
		display: none;
		padding-bottom: 30px;
		border-right: 1px solid #eee;
	}

	nav > ul{
		line-height: 30px;
		margin: 30px 0;
		padding-left: 10px;
		float: none;
	}

	nav > ul > li{
		display: block;
		width: 100%;
		margin: 5px 0;
	}

	nav > ul > li.menu-item-has-children{
		margin: 0;
	}

	nav > ul > li > a{
		display: block;
		width: 100%;
		text-align: left;
		margin-left: 0;
		padding-bottom: 1px;
	}

	nav > ul > li > a:after{
		display: none;
	}

	nav > ul > li.menu-item-has-children > a:after{
		display: none;
	}

	nav > ul > li > a > i{
		display: none;
	}

	nav > ul ul{
		position: static;
		display: block;
		background: none;
		border: none;
		padding: 0px;
		margin: 0 !important;
		width: 100%;
		z-index: auto;
		margin-left: 0px;
		padding-left: 20px;
		box-shadow:none;
		padding-bottom: 5px;
	}

	nav > ul > li > ul:before{
		display: none;
	}

	nav > ul li:hover > ul,
	nav > ul li.sfHover > ul{
		display: block;
		z-index: auto;
		position: static;
	}

	nav > ul ul li{
		position: static;
		border-bottom: 0;
	}

	nav > ul ul li.has_children:hover:after{
		display: none;
	}

	nav > ul ul li{
		padding: 0px;
	}

	nav > ul ul li a{
		text-transform:uppercase;
		width: 100%;
		text-align: left;
		padding: inherit;
	}

	nav > ul ul li:hover{
		background: none;
	}

	nav > ul ul li:hover > a{
		color: #e4664d;
	}

	nav > ul ul ul{
		position: static;
		margin-top: 0;
		z-index: auto;
		margin-left: 20px;
	}

	nav > ul ul ul:before{
		display: none;
	}

	.sf-arrows .sf-with-ul:after{
		display: none;
	}

	nav > ul > .current-menu-item > a,
	nav > ul > .current-menu-ancestor > a{
		color: #505050;
		padding-bottom: 1px;
	}

	.sf-mega {
		width: 100%;
		display: block;
		position: static;
		z-index: inherit;
		padding-top: 0px;
		box-shadow: none;
		right: 0 !important;
		box-shadow: none;
	}

	nav > ul .sf-mega-inner {
		display: block !important;
		border: 0;
	}

	nav > ul .sf-mega-inner > ul > li{
		display: block!important;
		padding-left: 0px;
		border: 0;
	}

	.sf-mega li, .sf-mega ul{
		padding-left: 15px;
		display: inline-block !important;
		min-width: 100%;
	}

	.sf-mega li{
		padding-left: 5px;
		margin-left: 0;
		padding-bottom: 0;
	}

	nav > ul .sf-mega-inner > ul > li > a{
		color: #666;
		font-family: Lato, sans-serif;
		font-weight: 400;
		font-size: 12px;
		line-height: 14px;
		margin-top: 0;
	}

	.megamenu_header a span {
		color: #666;
		font-family: Lato, sans-serif;
		font-weight: 400;
		font-size: 12px;
		line-height: 14px;
		margin-top: 0;
	}

	li.megamenu_header{
		padding-bottom: 0;
	}

	.description_menu_item{
		display: none;
	}

	.image_overlap{
		margin-left: 0;
		left: 0;
		position: static;
	}

	.vozx_service_box_unboxed_square h3{
		font-size: 13px;
	}

	.vozx_service_box_boxed_inside{
		margin: 10px;
	}

	.vozx_service_box_boxed_inside .vozx_service_box_header:before{
		display: none;
	}

	.vozx_service_box_boxed_inside p{
		opacity: 1;
		width: 100%;
		left: 0;
	}

	.vozx_service_box_unboxed_round h3{
		font-size: 13px;
	}

	.vozx_blockquote_wide .quotation_mark{
		margin-bottom: 20px;
	}

	.vozx_blockquote_wide{
		padding: 20px;
	}

	.vozx_stats_excerpt_1 i{
		margin-top: 20px;
	}

	.vozx_stats_excerpt_1 p{
		font-size: 21px;
	}

	.vozx_stats_excerpt_2{
		padding: 20px;
	}

	.vozx_stats_excerpt_1 .vozx_stats_number,
	.vozx_stats_excerpt_1 .vozx_stats_number_sign{
		font-size: 37px;
		line-height: 48px;
	}

	.vozx_team_member .team_content{
		display: none;
	}

	.vozx-callout_box_style_1{
		margin: 30px 20px;
		padding-top: 14px;
		text-align: center;
	}

	.vozx-callout_box_style_1 .vozx-callout_box_title{
		padding: 0;
		text-align: center;
	}

	.vozx-callout_box_style_1 .vozx-button1{
		position: static;
		float: none;
		margin: 20px 0;
		display: inline-block;
	}

	.vozx-callout_box_style_3{
		padding: 20px;
		display: block;
		text-align: center;
	}

	.vozx-callout_box_style_3 .vozx-callout_box_title,
	.vozx-callout_box_style_3 p{
		text-align: left;
		float: none;
	}

	.vozx-callout_box_style_3 .vozx-button1{
		float: none;
		display: inline-block;
		margin: 20px 0;
	}

	.vozx-callout_box_style_5{
		margin: 10px;
		text-align: center;
	}

	.vozx-callout_box_style_5 .vozx-callout_box_title{
		line-height: 34px;
		margin-top: 20px;
	}

	.vozx-callout_box_style_5 .vozx-icon-button{
		float: none;
		margin: 20px 0;
		display: inline-block;
	}

	.vozx-callout_box_style_4{
		margin-bottom: 20px;
		padding-bottom: 23px;
	}

	.vozx-callout_box_style_4 p{
		display: inline-block;
		width: 100%;
		float: none;
	}

	.vozx-callout_box_style_4 .vozx-button1{
		float: none;
		display: inline-block;
		margin: 20px 0;
	}

	.section_body_fullwidth .ABp_latest_portfolio li:first-child {
		margin-left: 10px;
	}

	.portfolio_item_4_boxed, .portfolio_item_3_boxed{
		width: 31.3%;
	}

	.portfolio_item_4_boxed .overlay_title,
	.portfolio_item_3_boxed .overlay_title,
	.portfolio_item_4 .overlay_title{
		font-size: 18px!important;
	}

	.portfolio_item_5 .overlay_title,
	.portfolio_item_5 .portfolio_item_tags,
	.portfolio_item_4 .overlay_title,
	.portfolio_item_4 .portfolio_item_tags,
	.portfolio_item_3 .overlay_title,
	.portfolio_item_3 .portfolio_item_tags{
		display: none;
	}

	.ABp_latest_portfolio .portfolio_item_4 .overlay_title,
	.ABp_latest_portfolio .portfolio_item_4 .portfolio_item_tags,
    .ABp_latest_portfolio .portfolio_item_3 .portfolio_item_tags,
    .ABp_latest_portfolio .portfolio_item_3 .overlay_title{
    	display: block;
    }

	.portfolio_4column .portfolio_inner_content .portfolio_item_meta h6{
		font-size: 14px;
		line-height: 20px;
	}

	#portfolio_list_fullwidth .portfolio_single_column_item .portfolio_item_meta{
		padding: 10px 30px 10px 67%;
	}

	#portfolio_list_fullwidth .portfolio_single_column_item:nth-child(2n) .portfolio_item_meta{
		padding: 10px 67% 10px 30px ;
	}

	#portfolio_list_fullwidth .portfolio_single_column_item .portfolio_thumb{
		margin-right: 30px;
	}

	#portfolio_list_fullwidth .portfolio_single_column_item:nth-child(2n) .portfolio_thumb{
		margin-left: 30px;
	}

	#portfolio_list_fullwidth h2.portfolio_title{
		line-height: 22px;
	}

	#portfolio_list_fullwidth .portfolio_item_meta_category{
		line-height: 22px;
	}

	.portfolio_single_column_gallery_style2 .row{
		margin-bottom: 6px;
	}

	.portfolio_single_column_gallery_style2 #blog_pagination{
		margin-top: 30px;
	}

	.portfolio_2column_gallery_style2 .span6{
		width: 49.19% !important;
	}

	.portfolio_3column_gallery_style2 .span4{
		width: 32.53% !important;
	}

	.portfolio_4column_gallery_style2 .span3{
		width: 24.19%!important;
	}

	.portfolio_3column_gallery .portfolio_item .overlayed .overlay .overlay_title, 
	.portfolio_3column_gallery_style2 .portfolio_item .overlayed .overlay .overlay_title{
		font-size: 18px;
	}

	.portfolio_4column_gallery .portfolio_item .overlayed .overlay .overlay_title, 
	.portfolio_4column_gallery_style2 .portfolio_item .overlayed .overlay .overlay_title{
		font-size: 18px;
	}

	.list_right{
		margin-right: 0;
		margin-bottom: 0;
	}

	.list_left{
		margin-bottom: 0;
	}

	.vozx_posts_shortcode.vozx_posts_shortcode-2 .vozx_latest_news_shortcode_content h5{
		padding: 20px 20px 0 20px;
	}

	.vozx_posts_shortcode.vozx_posts_shortcode-2 .vozx_latest_news_shortcode_content p{
		padding: 0 20px;
	}

	.vozx_pricebox_feature.vozx_pricebox_feature_button{
		padding: 20px 0!important;
	}

	.vozx_pricebox_feature_button .vozx-button{
		margin: 0;
	}

	.vozx_pricing-table-2 .vozx_popular-plan .vozx-button{
		margin: 10px 0;
	}

	.vozx_countdown{
		margin-bottom: 30px;
		text-align: left;
	}

	.vozx_countdown .countdown{
		margin: 0 auto 3px;
	}

	.vozx_countdown.flip_style{
		text-align: center;
	}

	.vozx_countdown.flip_style .time{
		margin-bottom: 40px;
	}

	.vozx_metro_box p{
		padding: 0 15px 20px;
	}

	.vozx_metro_box h3{
		font-size: 16px;
	}

	aside.sidebar_right{
		padding-left: 5px;
	}

	aside.sidebar_left{
		padding-right: 5px;
	}

	.rpwe-block li{
		padding-left: 80px;
		padding-right: 5px;
		padding-top: 0;
	}

	.textwidget{
		padding-right: 10px;
	}

	.sidebar .ab-tweet-item{
		padding: 0 5px 50px;
	}

	#mini2_posts .span6 .row .span6{
		width: 100%;
	}

	.mini2_post.has-post-thumbnail .post_main_inner_wrapper{
		padding: 0;
		margin: 10px 0;
	}

	.mini2_post.has-post-thumbnail .post_type{
		left: 0;
	}

	.blog_category_index_masonry2_left.grid_post, .blog_category_index_masonry2_right.grid_post{
		width: 100%;
	}

	.span9_halved:nth-child(2).content_with_left_sidebar {
		margin-right: 2.564102564102564%;
	}

	.grid_post{
		width: 100%;
	}

	.grid_postmeta{
		padding: 15px;
		display: inline-block;
	}

	.blog_category_index_masonry3_left.grid_post, .blog_category_index_masonry3_right.grid_post{
		width: 100%;
	}

	.grid_post.has-post-thumbnail .post_main_inner_wrapper{
		padding: 10px;
	}	

	#grid_posts .post-readmore{
		margin-bottom: 10px;
		text-align: center;
	}

	.grid_post .post_main_inner_wrapper{
		padding: 10px;
	}

	.dual_sidebar.sidebar_right #text-8 .vozx_follow_us a:nth-child(n){
		margin-right: 14px;
	}

	.boxed{
		padding: 20px;
	}

	.boxed_button {
		display: block;
		margin: 16px 0 0;
		padding: 8px;
	}

	.shop ul.products li.product a, .shop-page ul.products li.product a{
		display: inline-block;
		margin: 0 0 15px;
	}

	.big_404{
		font-size: 137px;
	}

	.vozx_posts_shortcode.vozx_posts_shortcode-1 .vozx_latest_news_shortcode_content h5,
	.vozx_posts_shortcode.vozx_posts_shortcode-1 .vozx_latest_news_shortcode_content .date_container,
	.vozx_posts_shortcode.vozx_posts_shortcode-1 .vozx_latest_news_shortcode_content p{
		padding-left: 20px;
	}

	.vozx-tabs{
		margin-bottom: 20px;
	}

	.vozx-tabs .ui-tabs-panel{
		padding: 0;
	}

	.vozx-tabs.vozx-tabs-unboxed .ui-tabs-panel{
		padding: 25px 0!important;
	}

	.vozx-tabs.vozx-tabs-timeline .vozx-tabs-wrapper{
		padding: 20px;
	}

	.vozx-tabs.vozx-tabs-fullwidthtabs .ui-tabs-nav li{
		display: block;
	}

	.vozx-tabs-position-left.vozx-tabs-boxed .ui-tabs-nav li{
		border-right: 1px solid #eee;
	}

	.vozx-tabs.vozx-tabs-fullwidthtabs .ui-tabs-nav li:hover{
		background: #e4664d;
	}

	.vozx-tabs-position-left.vozx-tabs-boxed .ui-tabs-nav li.ui-tabs-active:after{
		display: none;
	}

	.vozx-tabs-position-left.vozx-tabs-unboxed .ui-tabs-nav{
		width: 100%;
	}

	.vozx-tabs-position-left.vozx-tabs-unboxed .ui-tabs-nav li{
		width: 100%;
	}

	.vozx-tabs-position-right.vozx-tabs-unboxed .vozx-tabs-wrapper{
		margin-right: 0;
		display: inline-block;
		padding: 0px;
	}

	.vozx-tabs-position-right .ui-tabs-panel{
		padding: 0!important;
	}

	.vozx-tabs-vertical.vozx-tabs-position-right.vozx-tabs-boxed .vozx-tabs-wrapper{
		padding: 25px;
	}

	.vozx-tabs-position-right.vozx-tabs-boxed.vozx-tabs-boxed .ui-tabs-nav{
		width: 100%;
		float: none;
		display: inline-block;
		margin-bottom: 0;
	}

	.vozx-tabs-position-right.vozx-tabs-boxed .vozx-tabs-wrapper{
		margin-right: 0;
		display: inline-block;
	}

	.vozx-tabs-position-left.vozx-tabs-boxed .ui-tabs-nav li{
		width: 100%;
		margin-bottom: 0;
	}

	.vozx-tabs-position-left.vozx-tabs-boxed.vozx-tabs-boxed .ui-tabs-nav{
		float: none;
		width: 100%;
		margin-bottom: 0;
		padding-bottom: 0;
		border-right: 0;
	}

	.vozx-tabs-position-left.vozx-tabs-boxed .vozx-tabs-wrapper{
		margin-left: 0;
		padding: 25px;
	}

	.vozx-tabs-position-left.vozx-tabs-boxed .ui-tabs-nav li:hover{
		background: #e4664d;
	}

	.vozx-tabs-position-left.vozx-tabs-boxed .ui-tabs-nav li a{
		padding: 0 13px;
		line-height: 42px;
	}

	.vozx-tabs-position-left.vozx-tabs-boxed .ui-tabs-nav li:hover a{
		background-color: transparent;
	}

	.vozx-tabs-position-left.vozx-tabs-unboxed .vozx-tabs-wrapper{
		margin: 0;
		padding: 25px 0px 25px 0px;
		display: inline-block;
	}

	.vozx-tabs-position-left.vozx-tabs-fullwidthtabs .ui-tabs-nav li,
	.vozx-tabs-position-right.vozx-tabs-fullwidthtabs .ui-tabs-nav li{
		padding: 0;
		line-height: 20px;
		border-bottom: 1px solid #eee;
		text-align: center;
		margin-bottom: 0;
	}

	.vozx-tabs-position-left.vozx-tabs-fullwidthtabs .ui-tabs-nav,
	.vozx-tabs-position-right.vozx-tabs-fullwidthtabs .ui-tabs-nav{
		border-right: 0;
		padding-bottom: 0;
	}

	.vozx-tabs-position-left.vozx-tabs-unboxed .ui-tabs-nav li:first-child:hover a{
		background: transparent;
	}

	.vozx-tabs-position-left.vozx-tabs-unboxed .ui-tabs-nav li:hover a,
	.vozx-tabs-position-left.vozx-tabs-unboxed .ui-tabs-nav li:last-child:hover a{
		background: none;
	}

	.vozx-tabs.vozx-tabs-position-left .ui-tabs-panel{
		padding: 0 !important;
	}

	.vozx-tabs-unboxed.vozx-tabs-position-top .ui-tabs-nav li{
		border-right: 1px solid #eee!important;
	}

	.vozx-tabs-horizontal.vozx-tabs-position-top.vozx-tabs-boxed .vozx-tabs-wrapper{
		padding: 25px;
	}

	.vozx-tabs-position-bottom.vozx-tabs-unboxed .vozx-tabs-wrapper{
		display: inline-block;
		margin-top: 35px;
	}

	.vozx-tabs-horizontal.vozx-tabs-position-bottom.vozx-tabs-boxed .vozx-tabs-wrapper{
		padding: 25px;
		display: inline-block;
		margin-top: 30px;
	}

	.vozx-tabs-position-bottom.vozx-tabs-fullwidthtabs .ui-tabs-nav{
		display: inline-block;
		width: 100%;
	}

	.vozx-tabs-position-right.vozx-tabs-boxed .ui-tabs-nav li{
		width: 100%;
		margin: 0;
		border-left: 1px solid #eee;
	}

	.vozx-tabs-position-right.vozx-tabs-unboxed .ui-tabs-nav{
		width: 100%;
	}

	.vozx-tabs-position-right.vozx-tabs-unboxed .ui-tabs-nav li{
		width: 100%;
	}

	.vozx-tabs-position-right.vozx-tabs-boxed .ui-tabs-nav li.ui-tabs-active:after{
		display: none;
	}

	.vozx-tabs.vozx-tabs-unboxed.vozx-tabs-position-bottom .ui-tabs-nav li{
		border-right: 1px solid #eee;
	}

	.ABt_testimonials_wrapper.picture_bottom .testimonial_small .source, 
	.ABt_testimonials_wrapper_static.picture_bottom .testimonial_small .source{
		left: 90px;
	}

	.ABt_testimonials_wrapper.picture_middle .ABt_pagination a:last-child,
	.ABt_testimonials_wrapper_static.picture_middle .ABt_pagination a:last-child{
		margin-right: 0;
	}

	.shop nav.shop-pagination, .shop #content nav.shop-pagination, .shop-page nav.shop-pagination, .shop-page #content nav.shop-pagination{
		position: static;
		display: block;
		margin: 0 auto;
		border-right: 0;
		padding-bottom: 0;
	}

	.shop .shop-pagination ul.page-numbers li, .shop-page .shop-pagination ul.page-numbers li{
		width: auto;
	}

	.shop nav.shop-pagination ul li .next i, .shop-page nav.shop-pagination ul li .next i, .shop nav.shop-pagination ul li .prev i, .shop-page nav.shop-pagination ul li .prev i{
		display: inline-block;
	}

	.shop div.product .shop-tabs ul.tabs li,
	.shop-page div.product .shop-tabs ul.tabs li{
		width: 100%;
	}

	.shop #reviews #comments ol.commentlist li .comment-text, .shop-page #reviews #comments ol.commentlist li .comment-text{
		margin-left: 0;
	}

	.shop p.stars, .shop-page p.stars{
		line-height: 35px;
	}

	.shop p.stars span a, .shop-page p.stars span a{
		border-right: 0!important;
		margin-right: 7px !important;
	}

	.shop #review_form #respond p.comment-form-comment, .shop-page #review_form #respond p.comment-form-comment{
		width: 100%;
	}

	.shop #reviews #comments ol.commentlist li, .shop-page #reviews #comments ol.commentlist li{
		padding-left: 100px;
	}

	.shop .comment time, .shop-page .comment time{
		display: inline-block;
	}

	.shop #reviews #comments ol.commentlist li .comment-text p.meta, .shop-page #reviews #comments ol.commentlist li .comment-text p.meta{
		display: inline-block;
	}

	.timeline_post,
	.timeline_post_first{
		width: 324px;
	}

	#contact_map,
	#contact_streetview{
		height: 488px;
	}

	#ABdev_sticky_header{
		height: 488px;
	}

	#ABdev_sticky_header_content{
		margin-top: 488px;
	}

	#footer_copyright{
		padding: 50px 0;
	}

	#footer_container{
		margin: 0 50px;
	}

	#back_to_top{
		bottom: 210px;
	}

	.flickr_stream a:nth-child(3n+0){
		margin-right: 9px;
	}

	.flickr_stream img{
		width: 77px;
		height: 77px;
	}

	aside.sidebar .flickr_stream img{
		width: 64px;
		height: 64px;
	}

	aside.sidebar .flickr_stream a:nth-child(4n+0){
		margin-right: 10px;
	}

	#portfolio_item_meta .portfolio_item_meta_label {
		float: none;
		width: auto;
		display: inline;
	}

	#portfolio_item_meta .portfolio_item_meta_data {
		padding-left: 0px;
		display: inline;
	}

	.split_cols_788 > [class*="span"]{
		width: 100%;
		margin-left: 0;
		margin-bottom: 40px;
	}

	#it-exchange-store .it-exchange-products li{
		width: 100%!important;
		margin-bottom: 10%;
	}

	.it-exchange-colorbox #cboxContent #cboxClose{
		top: 120px;
	}

	.it-exchange-super-widget .two-actions .cart-action{
		width: 100%;
	}

	#it-exchange-cart .it-exchange-cart-item-thumbnail{
		display: none;
	}

	#it-exchange-cart .it-exchange-cart-item-quantity{
		display: none;
	}

	#it-exchange-cart .it-exchange-cart-item-remove{
		text-align: center;
	}

	#it-exchange-cart input.it-exchange-update-cart, 
	#it-exchange-cart input.it-exchange-empty-cart, 
	#it-exchange-cart input.it-exchange-checkout-cart, 
	#it-exchange-cart input.it-exchange-continue-shopping{
		margin-bottom: 10px;
		margin-left: 5px;
	}

	#it-exchange-confirmation .it-exchange-confirmation-billing-address-purchase-requirement, 
	#it-exchange-confirmation .it-exchange-confirmation-shipping-address-purchase-requirement{
		width: 100%;
	}

	#it-exchange-registration{
		margin: 5% 5% 0;
	}

	input.it-exchange-guest-checkout-email{
		min-width: 100%;
	}

	.it-exchange-checkout .it-exchange-guest-checkout-form-wrapper div input[type="submit"]{
		margin: 0;
	}

	input.apply-coupon{
		margin: 0 2px 10px;
		width: 98%;
	}
}




@media only screen and (max-width: 767px){
	
	#ABdev_main_header.default, 
	#ABdev_main_header.header_layout_1,
 	#ABdev_main_header.header_layout_2,
 	#ABdev_main_header.header_layout_3,
 	#ABdev_main_header.header_layout_4,
 	#ABdev_main_header.switch_main_header,
 	#ABdev_main_header.header_layout_centered,
 	#ABdev_main_header.header_layout_centered.fixed.smaller{
		position: static!important;
		height: auto;
		margin-top: 0 !important;
	}

	#ABdev_main_header.switch_main_header{
		background: transparent!important;
		border-bottom: 0;
	}

	#ABdev_main_header.switch_main_header #inverted_logo{
		display: none;
		opacity: 0;
	}

	#top_bar{
		display: none;
	}

	aside{
		margin-top: 30px;
	}

	header .container{
		position: relative;
	}

	header .logo img{
		position: static;
	}
	
	#ABdev_sticky_header{
		margin-top: 0 !important;
		position: static;
	}

	header.ABdev_on_sticky_header{
		position: static;
	}

	#ABdev_header_spacer, #ABdev_header_spacer_center, #ABdev_header_spacer_transparent{
		display: none;
	}

	body.admin-bar #ABdev_main_header.header_layout_centered.fixed{
		margin-top: 0 !important;
		max-height: none;
		overflow-x: none;
	}

	#ABdev_main_header.header_layout_centered.fixed{
		padding: 0;
	}

	#ABdev_main_header.header_layout_centered .main_menu_item_logo{
		display: none;
	}

	#ABdev_main_header.header_layout_centered{
		padding: 0;
	}

	#ABdev_main_header.header_layout_centered nav{
		position: fixed;
		float: none !important;
		top: 0;
		left: 0;
		height: 100%;
		z-index: 100000;
		background: #fff;
		overflow-x: hidden;
		width: 80%;
		display: none;
		padding-bottom: 30px;
		border-right: 1px solid #eee;
	}

	#ABdev_menu_toggle{
		display: block;
		width: 50px;
		height: 50px;
		color: #e4664d;
		background: rgba(0,0,0,0.5);
		position: fixed;
		right: 18px;
		top: 8px;
		font-size: 34px;
		line-height: 54px;
		z-index: 9999999;
		text-align: center;
	}

	body.admin-bar #ABdev_menu_toggle{
		top: 18px;
	}

	#ABdev_menu_toggle i{
		margin-left: 5px;
	}

	.header_layout_1 #top_container .logo_search_bar{
		display: none;
	}

	.header_layout_1 #shop_links{
		display: none;
	}

	nav{
		position: fixed;
		float: none !important;
		top: 0;
		left: 0;
		height: 100%;
		z-index: 100000;
		background: #fff;
		overflow-x: hidden;
		width: 80%;
		display: none;
		padding-bottom: 30px;
		border-right: 1px solid #eee;
	}

	nav > ul{
		line-height: 30px;
		margin: 30px 0;
		padding-left: 10px;
		float: none;
	}

	nav > ul > li{
		display: block;
		width: 100%;
		margin: 5px 0;
	}

	nav > ul > li.menu-item-has-children{
		margin: 0;
	}

	nav > ul > li > a{
		display: block;
		width: 100%;
		text-align: left;
		margin-left: 0;
		padding-bottom: 1px;
	}

	nav > ul > li.menu-item-has-children > a:after{
		display: none;
	}

	nav > ul > li > a > i{
		display: none;
	}

	nav > ul ul{
		position: static;
		display: block;
		background: none;
		border: none;
		padding: 0px;
		margin: 0 !important;
		width: 100%;
		z-index: auto;
		margin-left: 0px;
		padding-left: 20px;
		box-shadow:none;
		padding-bottom: 5px;
	}

	nav > ul > li > ul:before{
		display: none;
	}

	nav > ul li:hover > ul,
	nav > ul li.sfHover > ul{
		display: block;
		z-index: auto;
		position: static;
	}

	nav > ul ul li{
		position: static;
		border-bottom: 0;
	}

	nav > ul ul li.has_children:hover:after{
		display: none;
	}

	nav > ul > li > a:after{
		display: none;
	}

	nav > ul ul li{
		padding: 0px;
	}

	nav > ul ul li a{
		text-transform:uppercase;
		width: 100%;
		text-align: left;
		padding: inherit;
	}

	nav > ul ul li:hover{
		background: none;
	}

	nav > ul ul li:hover > a{
		color: #e4664d;
	}

	nav > ul ul ul{
		position: static;
		margin-top: 0;
		z-index: auto;
		margin-left: 20px;
	}

	nav > ul ul ul:before{
		display: none;
	}

	.sf-arrows .sf-with-ul:after{
		display: none;
	}

	nav > ul > .current-menu-item > a{
		color: #e4664d;
		padding-bottom: 1px;
	}

	nav > ul > .current-menu-ancestor > a{
		color: #666;
		padding-bottom: 1px;
	}

	.sf-mega {
		width: 100%;
		display: block;
		position: static;
		z-index: inherit;
		padding-top: 0px;
		box-shadow: none;
		right: 0 !important;
		box-shadow: none;
	}

	nav > ul .sf-mega-inner {
		display: block !important;
		border: 0;
	}

	nav > ul .sf-mega-inner > ul > li{
		display: block!important;
		padding-left: 0px;
		border: 0;
	}

	.sf-mega li, .sf-mega ul{
		padding-left: 15px;
		display: inline-block !important;
		min-width: 100%;
	}

	.sf-mega li{
		padding-left: 5px;
		margin-left: 0;
		padding-bottom: 0;
	}

	nav > ul .sf-mega-inner > ul > li > a{
		color: #666;
		font-family: Lato, sans-serif;
		font-weight: 400;
		font-size: 12px;
		line-height: 14px;
		margin-top: 0;
	}

	.megamenu_header a span {
		color: #666;
		font-family: Lato, sans-serif;
		font-weight: 400;
		font-size: 12px;
		line-height: 14px;
		margin-top: 0;
	}

	li.megamenu_header{
		padding-bottom: 0;
	}

	.description_menu_item{
		display: none;
	}

	.tp-caption.vozx_title:after{
		display: none;
	}

	.container,
	.vozx_container{
		width: 90%;
	}
	
	.image_overlap {
		position: static;
		display: block;
		margin-left: 0;
	}

	.spacer_responsive_hide_mobile{
		display: none!important;
	}

	#title_breadcrumbs_bar .breadcrumbs{
		text-align: left;
	}

	#title_breadcrumbs_bar .span4{
		margin-bottom: 0;
	}

	#title_breadcrumbs_bar .span12{
		margin-bottom: 0;
	}

	.row{
		margin-bottom: 0;
	}

	.row > [class*="span"]{
		width: 100%;
		margin-left: 0;
		margin-bottom: 10px;
	}

	.vozx_service_box_boxed_inside{
		margin-bottom: 30px;
		text-align: center;
	}

	.vozx_service_box_boxed_inside .vozx_service_box_header:before{
		display: none;
	}

	.vozx_service_box_boxed_inside p{
		margin: 20px auto 0;
		opacity: 1;
		display: block;
		left: 50%;
		margin-left: -125px;
	}

	.vozx_service_box_boxed{
		margin-bottom: 40px;
	}

	.vozx_blockquote_wide{
		padding: 20px 20px;
		margin-bottom: 0;
	}

	.white_text .vozx_blockquote_wide p,
	.vozx_blockquote_wide p{
		font-size: 26px;
		line-height: 39px;
	}

	.white_text .vozx_blockquote_wide .quotation_mark,
	.vozx_blockquote_wide .quotation_mark{
		margin-bottom: 30px;
		font-size: 94px;
		line-height: 19px;
	}

	.vozx-accordion{
		margin: 30px 0 ;
	}

	.vozx_section_dd.section_with_header .vozx_container{
		margin: 0 auto;
	}

	.image_overflow_left{
		right: 0;
	}

	.image_overflow_right{
		left: 0;
	}

	.vozx_section_dd.smaller_headline header h3{
		line-height: 33px;
	}

	.vozx_section_dd header p{
		padding: 0 10px;
	}

	.vozx-callout_box_style_1{
		margin: 0 auto;
		text-align: center;
	}

	.vozx-callout_box_style_1 .vozx-callout_box_title{
		padding-right: 10px;
		text-align: center;
		font-size: 28px;
		line-height: 38px;
	}

	.vozx-callout_box_style_1 p{
		text-align: center;
	}

	.vozx-callout_box_style_1 .vozx-button1{
		float: none;
		position: relative;
		margin: 30px auto;
		display: inline-block;
	}

	.vozx-callout_box_style_2{
		margin: 20px 0;
	}

	.vozx-callout_box_style_3{
		padding: 10px;
		text-align: center;
	}

	.vozx-callout_box_style_3 .vozx-callout_box_title{
		float: none;
	}

	.vozx-callout_box_style_3 .vozx-callout_box p{
		display: block;
		text-align: left;
	}

	.vozx-callout_box_style_3 .vozx-button1{
		float: none;
		display: inline-block;
		margin: 30px auto;
	}

	.vozx-callout_box_style_5{
		margin: 0;
		padding-bottom: 0;
		text-align: center;
	}

	.vozx-callout_box_style_5 .vozx-callout_box_title{
		line-height: 32px;
		text-align: left;
		margin-top: 10px;
	}

	.vozx-callout_box_style_5 .vozx-icon-button{
		float: none;
		margin: 10px 0;
		display: inline-block;
	}

	.vozx-button2{
		display: inline-block;
		margin-top: 20px;
		margin-left: 0;
	}

	.vozx-callout_box_style_4{
		padding-bottom: 10px;
		margin-bottom: 0;
	}

	.vozx-callout_box_style_4 .vozx-callout_box_title{
		margin-top: 10px;
	}

	.vozx-callout_box_style_4 .vozx-button1{
		float: none;
		display: inline-block;
		margin: 20px 0 13px;
	}


	.bigtext{
		line-height: 38px;
	}

	.vozx_progress_bar:first-child{
		margin-top: 20px;
	}

	.portfolio_prev{
		top: 0;
		left: 40px!important;
	}

	.portfolio_next{
		top: 0;
		right: 40px!important;
	}

	.ABt_testimonials_wrapper.testimonials_big, .ABt_testimonials_wrapper_static.testimonials_big{
		padding:  20px 0 0;
	}

	.ABt_testimonials_wrapper.picture_top, .ABt_testimonials_wrapper_static.picture_top{
		text-align: center;
	}

	.ABt_testimonials_wrapper.picture_top .testimonial_small, .ABt_testimonials_wrapper_static.picture_top .testimonial_small{
		padding: 20px 20px;
		text-align: center;
	}

	.ABt_testimonials_wrapper.picture_top .testimonial_small img, .ABt_testimonials_wrapper_static.picture_top .testimonial_small img{
		position: static;
		display: inline-block;
	}

	.ABt_testimonials_slide .testimonial_small p{
		text-align: left;
	}

	.ABt_testimonials_wrapper.picture_top .ABt_pagination, .ABt_testimonials_wrapper_static.picture_top .ABt_pagination{
		position: static;
		display: inline-block;
		margin: 10px auto;
	}

	.ABt_testimonials_wrapper.picture_bottom .testimonial_small .source, .ABt_testimonials_wrapper_static.picture_bottom .testimonial_small .source{
		left: auto;
		right: 0;
	}

	.ABt_testimonials_wrapper.picture_bottom .ABt_pagination, .ABt_testimonials_wrapper_static.picture_bottom .ABt_pagination{
		position: static;
		margin: 0 0 20px;
	}

	.ab-tweet-text{
		padding: 0 10px;
		line-height: 24px;
	}

	.list_right{
		float: left;
		margin: 0;
	}

	.ABp_latest_portfolio li.portfolio_item_4,
	.ABp_latest_portfolio li.portfolio_item_3{
		margin-left: 5px;
		width: 280px;
	}

	.portfolio_filter li:after{
		display: none;
	}

	.vozx-tabs{
		margin: 20px 0;
	}

	.vozx-tabs .ui-tabs-panel{
		padding: 0;
	}

	.vozx-tabs.vozx-tabs-unboxed .ui-tabs-panel{
		padding: 25px 0!important;
	}

	.vozx-tabs.vozx-tabs-timeline ul.ui-tabs-nav:after{
		display: none;
	}

	.vozx-tabs.vozx-tabs-timeline .ui-tabs-nav li.ui-tabs-active:before{
		display: none;
	}

	.vozx-tabs.vozx-tabs-timeline ul li:last-child{
		border: 1px solid #eee;
	}

	.vozx-tabs.vozx-tabs-timeline .vozx-tabs-wrapper{
		padding: 20px;
	}

	.vozx-tabs.vozx-tabs-timeline ul li{
		display: block;
	}

	.vozx-tabs.vozx-tabs-timeline ul li:hover a{
		color: #fff;
	}

	.vozx-tabs.vozx-tabs-fullwidthtabs .ui-tabs-nav li{
		display: block;
	}

	.vozx-tabs.vozx-tabs-fullwidthtabs .ui-tabs-nav li:hover{
		background: #e4664d;
	}

	.vozx-tabs-position-right.vozx-tabs-unboxed .vozx-tabs-wrapper{
		margin-right: 0;
		display: inline-block;
		padding: 0px;
	}

	.vozx-tabs-position-right .ui-tabs-panel{
		padding: 0!important;
	}

	.vozx-tabs-vertical.vozx-tabs-position-right.vozx-tabs-boxed .vozx-tabs-wrapper{
		padding: 25px;
	}

	.vozx-tabs-position-right.vozx-tabs-boxed.vozx-tabs-boxed .ui-tabs-nav{
		width: 100%;
		float: none;
		display: inline-block;
		margin-bottom: 0;
	}

	.vozx-tabs-position-right.vozx-tabs-boxed .vozx-tabs-wrapper{
		margin-right: 0;
		display: inline-block;
	}

	.vozx-tabs-position-left.vozx-tabs-boxed .ui-tabs-nav li{
		width: 100%;
		margin-bottom: 0;
	}

	.vozx-tabs-position-left.vozx-tabs-boxed.vozx-tabs-boxed .ui-tabs-nav{
		float: none;
		width: 100%;
		margin-bottom: 0;
		padding-bottom: 0;
		border-right: 0;
	}

	.vozx-tabs-position-left.vozx-tabs-boxed .vozx-tabs-wrapper{
		margin-left: 0;
		padding: 25px;
	}

	.vozx-tabs-position-left.vozx-tabs-boxed .ui-tabs-nav li:hover{
		background: #e4664d;
	}

	.vozx-tabs-position-left.vozx-tabs-boxed .ui-tabs-nav li a{
		padding: 0 13px;
		line-height: 42px;
	}

	.vozx-tabs-position-left.vozx-tabs-boxed .ui-tabs-nav li:hover a{
		background-color: transparent;
	}

	.vozx-tabs.vozx-tabs-unboxed.vozx-tabs-position-top .ui-tabs-nav li{
		border-right: 1px solid #eee;
	}

	.vozx-tabs-position-left.vozx-tabs-unboxed .vozx-tabs-wrapper{
		margin: 0;
		padding: 25px 0px 25px 0px;
		display: inline-block;
	}

	.vozx-tabs-position-left.vozx-tabs-fullwidthtabs .ui-tabs-nav li,
	.vozx-tabs-position-right.vozx-tabs-fullwidthtabs .ui-tabs-nav li{
		padding: 0;
		line-height: 20px;
		border-bottom: 1px solid #eee;
		text-align: center;
		margin-bottom: 0;
	}

	.vozx-tabs-position-left.vozx-tabs-fullwidthtabs .ui-tabs-nav,
	.vozx-tabs-position-right.vozx-tabs-fullwidthtabs .ui-tabs-nav{
		border-right: 0;
		padding-bottom: 0;
	}

	.vozx-tabs-position-left.vozx-tabs-unboxed .ui-tabs-nav li:first-child:hover a{
		background: transparent;
	}

	.vozx-tabs-position-left.vozx-tabs-unboxed .ui-tabs-nav li:hover a,
	.vozx-tabs-position-left.vozx-tabs-unboxed .ui-tabs-nav li:last-child:hover a{
		background: none;
	}

	.vozx-tabs.vozx-tabs-position-left .ui-tabs-panel{
		padding: 0 !important;
	}

	.vozx-tabs-unboxed.vozx-tabs-position-top .ui-tabs-nav li{
		border-right: 1px solid #eee;
	}

	.vozx-tabs-horizontal.vozx-tabs-position-top.vozx-tabs-boxed .vozx-tabs-wrapper{
		padding: 25px;
	}

	.vozx-tabs-position-bottom.vozx-tabs-unboxed .vozx-tabs-wrapper{
		display: inline-block;
		margin-top: 35px;
	}

	.vozx-tabs-horizontal.vozx-tabs-position-bottom.vozx-tabs-boxed .vozx-tabs-wrapper{
		padding: 25px;
		display: inline-block;
		margin-top: 30px;
	}

	.vozx-tabs-position-bottom.vozx-tabs-fullwidthtabs .ui-tabs-nav{
		display: inline-block;
	}

	.vozx-tabs.vozx-tabs-unboxed.vozx-tabs-position-bottom .ui-tabs-nav li{
		border-right: 1px solid #eee;
	}

	#footer_container{
		margin: 0;
		border-top: 0;
	}

	#footer_container:after{
		display: none;
	}

	#footer_container .logo{
		padding-left: 0;
	}

	#footer_container #footer_social{
		padding-left: 0;
		margin-bottom: 0;
	}

	#back_to_top{
		bottom: 40px;
	}

	footer #footer_copyright,
	footer #footer_copyright .footer_social{
		text-align: center;
		padding-top: 20px;
	}

	footer #footer_copyright .footer_copyright,
	footer #footer_copyright .footer_social{
		margin-bottom: 0px;
		margin-top: 0;
	}

	.vozx_posts_shortcode.vozx_posts_shortcode-1{
		text-align: center;
	}

	.vozx_posts_shortcode.vozx_posts_shortcode-1 .vozx_latest_news_shortcode_thumb{
		display: inline-block;
		float: none;
		width: 100%;
		margin-bottom: 20px;
	}

	.vozx_posts_shortcode.vozx_posts_shortcode-1 .vozx_latest_news_shortcode_content{
		padding-left: 0;
		text-align: left;
	}

	.vozx_posts_shortcode.vozx_posts_shortcode-1 .vozx_latest_news_shortcode_content h5,
	.vozx_posts_shortcode.vozx_posts_shortcode-1 .vozx_latest_news_shortcode_content .date_container,
	.vozx_posts_shortcode.vozx_posts_shortcode-1 .vozx_latest_news_shortcode_content p{
		padding-left: 0;
	}

	.vozx-button{
		margin-bottom: 20px;
	}

	.padding_left100, .padding_right100, .padding_left70{
		padding-left: 0;
		padding-right: 0;
	}

	.ABss_form_wrapper input{
		width: 100%;
	}

	.ABss_form_wrapper input[type="submit"]{
		margin-top: 20px;
	}

	.vozx_countdown.simple_style .simple.countdown{
		text-align: center;
		margin: 0 auto;
	}

	.vozx_countdown.simple_style .vozx_countdown_inner span{
		margin: 0;
		text-align: center;
	}

	.service_box_process_full:first-child:after, 
	.service_box_process_full:after, 
	.service_box_process_empty:after,
	.service_box_process_empty:last-child:after{
		display: none;
	}	

	.ABp_latest_portfolio li.portfolio_item_4, 
	.ABp_latest_portfolio li.portfolio_item_3{
		width: 280px!important;
	}

	.portfolio_item_4,
	.portfolio_item_3,
	.row.portfolio_2column .span6,
	.row.portfolio_3column .span4,
	.row.portfolio_4column .span3,
	.portfolio_item_5,
	.portfolio_item_4_boxed,
	.portfolio_item_3_boxed{
		width: 100%!important;
	}


	.row.portfolio_2column .span6,
	.row.portfolio_3column .span4,
	.row.portfolio_4column .span3{
		margin-left: 0;
	}

	#single_portfolio_pagination_layout2{
		padding-bottom: 0;
	}

	.single_portfolio_pagination.clearfix{
		margin: 0;
	}

	#porfolio_pagination{
		padding-top: 0;
		padding-bottom: 30px;
	}

	#related_portfolio{
		display: block;
		margin-bottom: 100px;
	}

	#simple_item_portfolio{
		padding-bottom: 40px;
	}

	#portfolio_list_fullwidth .portfolio_single_column_item .portfolio_thumb,
	#portfolio_list_fullwidth .portfolio_single_column_item:nth-child(2n) .portfolio_thumb{
		display: block;
		float: none;
		width: 100%;
		margin: 0;
	}

	#portfolio_list_fullwidth .portfolio_item_meta{
		padding: 20px;
		padding-top: 0;
	}

	#portfolio_list_fullwidth h2.portfolio_title{
		margin-top: 10px;
		line-height: 10px;
	}

	.portfolio_2column.portfolio_2column_gallery .blog_pagination{
		margin-top: 30px;
	}

	.portfolio_single_column_gallery_style2 .row{
		margin-bottom: 0;
	}

	#portfolio_single_column .portfolio_single_column_item{
		margin-bottom: 30px;
	}

	.portfolio_single_column_gallery_style2 #blog_pagination{
		margin-top: 30px;
	}

	.portfolio_2column_gallery .span6,
	.portfolio_3column_gallery .span4,
	.portfolio_4column_gallery .span3{
		margin-bottom: 30px;
	}

	.blog_category_index_right .post_main .post_main_inner_wrapper, 
	.blog_category_index_left .post_main .post_main_inner_wrapper, 
	.blog_category_index_none .post_main .post_main_inner_wrapper{
		padding-left: 0;
		padding: 20px;
	}

	.blog_category_index_right .post_info, 
	.blog_category_index_left .post_info, 
	.blog_category_index_none .post_info{
		display: block;
		position: static;
		text-align: center;
	}

	.blog_category_index_right .post_date, 
	.blog_category_index_left .post_date, 
	.blog_category_index_none .post_date{
		display: inline-block;
		margin-right: 10px;
	}

	.blog_category_index_right .post_type, 
	.blog_category_index_left .post_type, 
	.blog_category_index_none .post_type{
		display: inline-block;
		transform: translateY(16%);
	}

	.blog_category_index_right2 .post_badges, 
	.blog_category_index_left2 .post_badges, 
	.blog_category_index_none2 .post_badges{
		display: none;
	}

	.blog_category_index_right2 .post_content,
	.blog_category_index_left2 .post_content, 
	.blog_category_index_none2 .post_content{
		padding-left: 0;
	}

	.blog_category_index_right2 .post_main .post_main_inner_wrapper, 
	.blog_category_index_left2 .post_main .post_main_inner_wrapper, 
	.blog_category_index_none2 .post_main .post_main_inner_wrapper{
		padding: 20px;
	}

	.blog_category_index_right2 .post_info, 
	.blog_category_index_left2 .post_info, 
	.blog_category_index_none2 .post_info{
		display: block;
		position: static;
		text-align: center;
	}

	.blog_category_index_right2 .post_date, 
	.blog_category_index_left2 .post_date, 
	.blog_category_index_none2 .post_date{
		display: inline-block;
		margin-right: 10px;
	}

	.blog_category_index_right2 .post_type, 
	.blog_category_index_left2 .post_type, 
	.blog_category_index_none2 .post_type{
		display: inline-block;
		transform: translateY(16%);
	}

	.blog_category_index_right3 .post_main .post_main_inner_wrapper, 
	.blog_category_index_left3 .post_main .post_main_inner_wrapper, 
	.blog_category_index_none3 .post_main .post_main_inner_wrapper{
		text-align: center;
		padding-top: 0;
	}

	.blog_category_index_right3 .post_info, .blog_category_index_left3 .post_info, .blog_category_index_none3 .post_info{
		position: relative;
		display: inline-block;
		margin-right: 20px;
		margin-bottom: 10px;
	}

	.blog_category_index_right3 .post_type, .blog_category_index_left3 .post_type, .blog_category_index_none3 .post_type{
		position: static;
		display: inline-block;
		transform: translateY(30%);
	}

	.blog_category_index_right3 .post_main .post_main_inner_wrapper h2, 
	.blog_category_index_left3 .post_main .post_main_inner_wrapper h2, 
	.blog_category_index_none3 .post_main .post_main_inner_wrapper h2{
		display: block!important;
		text-align: center;
		margin-top: 20px!important;
		padding-left: 0 !important;
	}

	.blog_category_index_right3 .post_main .videoWrapper-vimeo, 
	.blog_category_index_left3 .post_main .videoWrapper-vimeo, 
	.blog_category_index_none3 .post_main .videoWrapper-vimeo, 
	.blog_category_index_right3 .post_main .videoWrapper-youtube, 
	.blog_category_index_left3 .post_main .videoWrapper-youtube, 
	.blog_category_index_none3 .post_main .videoWrapper-youtube, 
	.blog_category_index_right3 .post_main iframe, 
	.blog_category_index_left3 .post_main iframe, 
	.blog_category_index_none3 .post_main iframe{
		margin-bottom: 0;
	}

	.blog_category_index_right3 .post_main .post_main_inner_wrapper .post_author, 
	.blog_category_index_left3 .post_main .post_main_inner_wrapper .post_author, 
	.blog_category_index_none3 .post_main .post_main_inner_wrapper .post_author{
		padding-left: 0!important;
	}
	
	.blog_category_index_right3 .post_main .post_main_inner_wrapper .post_padding, 
	.blog_category_index_left3 .post_main .post_main_inner_wrapper .post_padding, 
	.blog_category_index_none3 .post_main .post_main_inner_wrapper .post_padding{
		text-align: left;
	}

	.blog_category_index_right3 .post_main .post_main_inner_wrapper .post_author .post_tags, 
	.blog_category_index_left3 .post_main .post_main_inner_wrapper .post_author .post_tags, 
	.blog_category_index_none3 .post_main .post_main_inner_wrapper .post_author .post_tags{
		display: block;
		margin-left: 0;
		line-height: 20px;
	}

	.blog_category_index_right_mini .post_type, .blog_category_index_left_mini .post_type, .blog_category_index_none_mini .post_type{
		display: none;
	}

	.blog_category_index_right_mini .post_main h2, .blog_category_index_left_mini .post_main h2, .blog_category_index_none_mini .post_main h2{
		padding-left: 0 !important;
	}

	.mini2_post.has-post-thumbnail .post_type{
		display: none;
	}

	.mini2_post .post_main_inner_wrapper h6{
		padding-left: 0 !important;
		margin-left: 0 !important;
	}

	.grid_post.has-post-thumbnail .post_main_inner_wrapper,
	.grid_post .post_main_inner_wrapper{
		padding: 10px 20px 30px;
	}

	.timeline_post.has-post-thumbnail .post_main_inner_wrapper,
	.timeline_post .post_main_inner_wrapper{
		padding: 20px;
	}

	.blog_category_index_dual .post_main .post_main_inner_wrapper{
		padding: 20px;
	}

	.post_main .postmeta-above .post_info,
	.post_main .postmeta-above .post_type{
		position: relative;
		display: inline-block;
	}

	.post_main .postmeta-above .post_type{
		top: 0;
		left: 30px;
	}

	.post_main .postmeta-above h5{
		padding-left: 0 !important;
	}

	.post_main .postmeta-above{
		text-align: center;
		margin-bottom: 0;
	}

	.post_content .post_main .post_author{
		padding-left: 0 !important;
		text-align: left!important;
	}

	.post_content .post_main .post_author .post_author_inner{
		display: inline;
	}

	#respond .comment_fields, #respond .comment-form-comment{
		width: 100%;
		padding-right: 0;
		padding-left: 0;
	}

	.sidebar .ab-tweet-item .ab-tweet-text{
		padding-left: 0;
	}

	.sidebar .ab-tweet-navigation a{
		margin-right: 30px;
	}

	.span9_halved{
		width: 100% !important;
	}

	.span9_halved:nth-child(2).content_with_left_sidebar{
		margin-right: 0;
	}

	.grid_post{
		width: 100%;
	}

	#blog_pagination{
		padding-bottom: 0px;
	}

	.timeline_post,
	.timeline_post_first{
		width: 100%;
	}

	#timeline_posts{
		background: none;
	}

	.timeline_post_left:after,
	.timeline_post_right:after{
		display: none;
	}

	.vozx_section_dd header h3{
		font-size: 30px;
		line-height: 35px;
	}

	#page404{
		margin-bottom: 0;
	}

	.vozx_countdown_inner:first-of-type > .countdown, .vozx_countdown_inner:first-of-type > span,
	.vozx_countdown_inner:last-of-type > .countdown, .vozx_countdown_inner:last-of-type > span{
		margin: 0 13px 3px;
	}

	.shop ul.products li.product, .shop-page ul.products li.product{
		width: 100% !important;
		margin: 10px auto 20px;
	}

	.shop .shop_container{
		margin-top: 10px;
	}

	.shop nav.shop-pagination, .shop #content nav.shop-pagination, .shop-page nav.shop-pagination, .shop-page #content nav.shop-pagination{
		position: static;
		display: block;
		margin: 0 auto;
		border-right: 0;
		padding-bottom: 0;
	}

	.shop .shop-pagination ul.page-numbers li, .shop-page .shop-pagination ul.page-numbers li{
		width: auto;
	}

	.shop nav.shop-pagination ul li .next i, .shop-page nav.shop-pagination ul li .next i, .shop nav.shop-pagination ul li .prev i, .shop-page nav.shop-pagination ul li .prev i{
		display: inline-block;
	}

	.shop div.product .shop-tabs ul.tabs li,
	.shop-page div.product .shop-tabs ul.tabs li{
		width: 100%;
	}

	.shop #reviews #comments ol.commentlist li .comment-text, .shop-page #reviews #comments ol.commentlist li .comment-text{
		margin-left: 0;
	}

	.shop p.stars, .shop-page p.stars{
		line-height: 35px;
	}

	.shop p.stars span a, .shop-page p.stars span a{
		border-right: 0!important;
		margin-right: 7px !important;
	}

	.shop #review_form #respond p.comment-form-comment, .shop-page #review_form #respond p.comment-form-comment{
		width: 100%;
	}

	.shop table.shop_attributes th, .shop-page table.shop_attributes th{
		width: 50%;
	}

	.shop table.shop_table th.product-remove, .shop-page table.shop_table th.product-remove,
	.shop table.shop_table td.product-remove, .shop-page table.shop_table td.product-remove{
		padding: 5px;
	}

	.shop table.shop_table th.product-quantity, .shop-page table.shop_table th.product-quantity,
	.shop table.shop_table td.product-quantity, .shop-page table.shop_table td.product-quantity{
		display: none;
	}

	.shop .shop_table.cart .actions input[name="update_cart"], .shop-page .shop_table.cart .actions input[name="update_cart"]{
		margin-bottom: 7px;
		width: 60%;
	}

	.shop .shop_table.cart .actions input[name="proceed"], .shop-page .shop_table.cart .actions input[name="proceed"]{
		padding: 8px 5px;
		width: 60%;
	}

	.shop .shop_table.cart .actions .coupon input[name="apply_coupon"], .shop-page .shop_table.cart .actions .coupon input[name="apply_coupon"]{
		width: 60%;
	}

	.shop .order_details li, .shop-page .order_details li{
		margin-bottom: 10px;
	}

	.vozx_alert_success i, .vozx_alert_info i, .vozx_alert_warning i, .vozx_alert_error i{
		margin-right: 7px;
	}

	.vozx_alert_info, .vozx_alert_warning{
		padding-right: 25px;
	}

	.vozx-image-callout-box .vozx-image-callout-box-wrapper .vozx-image-callout-box-title{
		line-height: 36px;
	}

	.vozx-carousel li{
		margin-left: 7px;
	}

	.vozx-table th, .vozx-table td{
		padding: 5px;
	}

	.section_no_column_margin .vozx_metro_box{
		margin: 0;
	}

	#footer_columns{
		padding-bottom: 40px;
	}

	aside.sidebar_right,
	aside.sidebar_left{
		padding-left: 0;
		padding-right: 0;
	}

	.flickr_stream a:nth-child(3n+0),
	aside.sidebar .flickr_stream a:nth-child(4n+0){
		margin-right: 10px;
	}

	.portfolio_item_5,
	.portfolio_item_4,
	.portfolio_item_3,
	.portfolio_item_4_boxed,
	.portfolio_item_3_boxed{
		width: 100%;
	}

	#page404 .big_404{
		font-size: 100px;
		line-height: 200px;
	}

	.content_with_right_sidebar{
		padding-right: 0;
	}

	.content_with_left_sidebar{
		padding-left: 0;
	}

	.comment{
		padding-left: 0;
	}

	.comment .avatar{
		display: none;
	}

	.comment .reply,
	.comment .edit-link{
		display: inline-block;
	}

	.post_content .post_badges{
		display: none;
	}

	#related_articles:after{
		display: none;
	}

	.post_main:after{
		display: none;
	}

	.previous_post_icon{
		margin-right: 10px;
	}

	.next_post_icon{
		margin-left: 10px;
	}

	.blog_category_index .post_main, 
	.blog_category_index .post_main{
		margin-left: 0px;
	}

	.post_main .postmeta-above .post_meta_comments{
		float: none;
	}

	.post_meta_tags{
		float: none;
		padding-top: 20px;
		text-align: left;
		clear: both;
	}

	.post_meta_tags i{
		margin-left: 0 !important;
	}

	header .row > [class*="span"],
	.title_bar .row > [class*="span"]{
		margin-bottom: 0px;
	}

	.contact-form .span6:first-child{
		margin-bottom: 0;
	}

	.vozx-callout_box .vozx-button{
		margin-top: 30px;
	}

	.vozx_stats_excerpt{
		margin-bottom: 60px;
	}

	#blog_pagination .prev,
	#blog_pagination .next {
		position: static;
	}

	#blog_pagination .prev{
		margin-right: 5px;
	}

	#blog_pagination .next{
		margin-left: 4px;
	}

	#blog_pagination .page-numbers{
		margin-bottom: 20px;
	}

	.vozx-accordion .ui-accordion-header-active{
		border-top: 0;
	}

	input.apply-coupon{
		margin: 0 2px 10px;
		width: 98%;
	}

}

.visible-desktop {display: inherit !important;}
.visible-tablet {display: none !important;}
.visible-phablet {display: none !important;}
.visible-phone {display: none !important;}
.visible-desktab {display: inherit !important;}
.visible-phabphone {display: none !important;}
.hidden-desktop {display: none !important;}
.hidden-tablet {display: inherit !important;}
.hidden-phablet {display: inherit !important;}
.hidden-phone {display: inherit !important;}
.hidden-desktab {display: none !important;}
.hidden-phabphone {display: inherit !important;}


@media only screen and (min-width: 768px) and (max-width: 959px) {
	.visible-desktop {display: none !important;}
	.visible-tablet {display: inherit !important;}
	.visible-phablet {display: none !important;}
	.visible-phone {display: none !important;}
	.visible-desktab {display: inherit !important;}
	.visible-phabphone {display: none !important;}
	.hidden-desktop {display: inherit !important;}
	.hidden-tablet {display: none !important;}
	.hidden-phablet {display: inherit !important;}
	.hidden-phone {display: inherit !important;}
	.hidden-desktab {display: none !important;}
	.hidden-phabphone {display: inherit !important;}
}

@media only screen and (max-width: 767px) {
	.visible-desktab {display: none !important;}
	.visible-phabphone {display: inherit !important;}
	.hidden-desktab {display: inherit !important;}
	.hidden-phabphone {display: none !important;}

	.vozx_column_dd_span12,
	.vozx_column_dd_span11,
	.vozx_column_dd_span10,
	.vozx_column_dd_span9,
	.vozx_column_dd_span8,
	.vozx_column_dd_span7,
	.vozx_column_dd_span6,
	.vozx_column_dd_span5,
	.vozx_column_dd_span4,
	.vozx_column_dd_span3,
	.vozx_column_dd_span2,
	.vozx_column_dd_span1{
		width: 100%;
		margin-left: 0;
	}

	.vozx_container [class*="column_dd_span"]{
		margin-left: 0;
		width: 100%;
	}

	.vozx_pricing-table-1,
	.vozx_pricing-table-2{
		margin-bottom: 20px;
	} 

	.vozx_meter {
		margin-left: 0px;
	}

	.vozx_meter_label{
		float: none;
		display: block;
	}

}

@media only screen and (min-width: 480px) and (max-width: 767px) {
	.visible-desktop {display: none !important;}
	.visible-tablet {display: none !important;}
	.visible-phablet {display: inherit !important;}
	.visible-phone {display: none !important;}
	.hidden-desktop {display: inherit !important;}
	.hidden-tablet {display: inherit !important;}
	.hidden-phablet {display: none !important;}
	.hidden-phone {display: inherit !important;}
}

@media only screen and (max-width: 479px) {	
	.visible-desktop {display: none !important;}
	.visible-tablet {display: none !important;}
	.visible-phablet {display: none !important;}
	.visible-phone {display: inherit !important;}
	.hidden-desktop {display: inherit !important;}
	.hidden-tablet {display: inherit !important;}
	.hidden-phablet {display: inherit !important;}
	.hidden-phone {display: none !important;}

}